[user]
	email = gabriele@buildo.io
	name = Gabriele Petronella
  signingkey = B5900161
[core]
	excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
	editor = vim
[color]
	ui = true
[push]
	default = simple
[alias]
	last = log -1 HEAD
  clean-branches = !git branch --merged master | grep -v '\\* master' | xargs -n 1 git branch -d
[merge]
	tool = vimdiff
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff "scala"]
  xfuncname = "^\\s*(.*(def|object|class|trait) .*)$"
[http]
	sslverify = true
[commit]
	gpgsign = true
