[user]
	email = gabriele@buildo.io
	name = Gabriele Petronella
[core]
	excludesfile = /Users/gabro/.gitignore_global
	editor = vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = true
[push]
	default = simple
[alias]
	last = log -1 HEAD
	fammiunasega = !sh fammiunasega.sh
  clean-branches = !git branch --merged master | grep -v '\\* master' | xargs -n 1 git branch -d
[merge]
	tool = opendiff
[diff]
	tool = vimdiff
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
